<div class="p-6">
  <!-- Container with horizontal scroll for small screens -->
  <div class="overflow-x-auto border rounded-lg shadow max-w-md">
    <!-- Header row -->
    <div class="grid grid-cols-1 font-medium text-gray-600 bg-gray-100">
      <h2 class="px-4 py-2">List of users</h2>
      <a
        routerLink="/users/add"
        class="bg-blue-500 hover:bg-blue-600 text-white text-sm font-semibold px-3 py-1 rounded"
      >
        + Add User
      </a>
    </div>

    <!-- Task rows -->
    <div class="inline-block divide-y divide-gray-200">
      @for (user of users; track user.id) {
      <app-user-list-item [user]="user"></app-user-list-item>
      }
    </div>
  </div>
</div>
